<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WPFProxyPort" value="5123"/>
    <add key="WPFProxyAddress" value="127.0.0.1"/>
    <add key="ProxyConnectDelay" value="500"/>
    <add key="HideMouse" value="FALSE"/>
    <add key="FullScreen" value="FALSE"/>
    <add key="TopMost" value="FALSE"/>
    <add key="saveFileName" value=""/>
  </appSettings>
</configuration>