<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArtefactAnimator" version="4.0.4.8" targetFramework="net45" />
  <package id="PostOfficeHelper" version="1.3.24" targetFramework="net45" />
  <package id="TelestrationWPF" version="1.9.1.1" targetFramework="net45" />
  <package id="VideoPlayerWPF" version="1.4.4.2" targetFramework="net45" />
  <package id="WPF_VCS_Common" version="1.4.0.1" targetFramework="net45" />
  <package id="WPFMediaKit" version="1.4.0.2" targetFramework="net45" />
</packages>